/* бургир */
#burger-toggle {
    display: none;
}

/* Иконка */
.burger {
    display: none;
    width: 30px;
    height: 20px;
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

.burger span,
.burger::before,
.burger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: white;
    transition: all 0.3s ease;
}

.burger::before {
    top: -8px;
}

.burger::after {
    top: 8px;
}
/* анимация крестика....*/
#burger-toggle:checked + .burger span {
    opacity: 0;
}

#burger-toggle:checked + .burger::before {
    transform: rotate(45deg);
    top: 0;
}

#burger-toggle:checked + .burger::after {
    transform: rotate(-45deg);
    top: 0;
}

.burger-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 70px;
    right: 10px;
    background: #444;
    border-radius: 10px;
    flex-direction: column;
    padding: 15px;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

#burger-toggle:checked ~ .burger-menu {
    visibility: visible;
    opacity: 1;
}

.burger-menu a {
    color: white;
    text-decoration: none;
    margin: 10px 0;
    display: block;
    text-align: center;
}

@media (max-width: 768px) {
    .nav {
        display: none;
    }

    .burger {
        display: block;
    }
}
